<ion-view>
    <ion-header-bar align-title="center" class="bar-calm">
       <a href="#/tab/accountAll"  class="button button-clear ion ion-chevron-left" >返回</a>
        <h1 class="title">叮咚医邦服务协议</h1>
    </ion-header-bar>
    
    <ion-content class="row-no-padding">
		<h4 style="margin-left:5px;margin-right:5px;">
			&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;
			欢迎使用叮咚医邦，您使用叮咚医邦日程管理和患者管理前，请仔细阅读本协议，并保证在使用叮咚医邦时遵守以下原则。
		</h4>
		<ion-list>
			<ion-item class="item-text-wrap">
				一、叮咚医邦网站（简称“叮咚医邦”）日程管理和患者管理功能，允许您管理自己的日程，并查看排队、预约、诊疗完成的患者。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				二、叮咚医邦允许您在第一执业点之外，开展多点执业，为患者提供医疗服务。请您保证符合国家和地方的医疗政策。如您违反相关规定，是您自己的个人行为，与叮咚医邦无关。
			</ion-item>

			<ion-item class="item-text-wrap">
				三、您可根据自己的实际情况，确定哪些患者能够通过预约，哪些患者需要预约其它医生。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				四、申请网上挂号服务的患者会按照要求填写预约申请（包括患者的基本资料、疾病资料等信息）信息。请保证患者的隐私信息保密不泄露。
				如果因为您的原因，导致患者的信息泄露，一切后果将由您全部承担，叮咚医邦概不负责。
			</ion-item> 
			
			<ion-item class="item-text-wrap">
				五、当排队人数达到一定数量时，叮咚医邦会通过短信通知您添加日程。在您收到短信后，请尽快通过叮咚运维确定并发布日程，以避免排队人数过多的现象。
			</ion-item> 

			<ion-item class="item-text-wrap">
				六、在您出诊日程的前三天，叮咚医邦会提醒您按时出诊。如果您遇到抢救、急诊等突发事件，请及时将日程延迟或取消。
				在未延迟和未取消的情况下，如您未按照约定时间出诊，叮咚医邦有权冻结您在此医院的出诊权限。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				七、在您诊疗完患者后，请及时将其诊疗状态设置为完成状态，使患者支付的诚意金能够及时被返还。如您未及时设置其诊疗状态，叮咚医邦有权扣除您部分叮咚积分。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				八、如出现各种医患纠纷、医疗事故，医生均应与患者、医院和协调处理，与叮咚医邦无关。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				九、叮咚医邦允许您每周进行一次提现。叮咚医邦仅支持提现至银行卡，且每次允许的提现金额为10~1000元人民币。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				十、提现申请提交后，叮咚医邦会尽快完成审核，并在审核通过后尽快将提现金额转入您提供的银行卡中，整个过程会在3~5个工作日内完成。
				如您提供的银行卡信息有误，叮咚医邦会将提现金额转回至您的叮咚账户中。如仍需提现，请在信息确认无误后，再次提交申请。	
			</ion-item>
			
			<ion-item class="item-text-wrap">
				十一、如您对以上原则存在异议，请通过叮咚医邦客服联系我们，或者选择不使用叮咚医邦。以上所有原则的最终解释权归叮咚医邦所有。感谢您的关注和使用。
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
