<ion-view>
    <ion-header-bar align-title="center" class="bar-calm">
       <a ng-click="goBack();"  class="button button-clear ion ion-chevron-left" >返回</a>
        <h1 class="title">叮咚门诊服务协议</h1>
    </ion-header-bar>
    
    <ion-content class="row-no-padding">
		<h4 style="margin-left:5px;margin-right:5px;">
			&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;
			欢迎使用叮咚门诊！在您使用叮咚门诊进行网上预约挂号前，请仔细阅读本协议，并保证在使用叮咚门诊时遵守以下原则。
		</h4>
		<ion-list>
			<ion-item class="item-text-wrap">
				一、叮咚门诊网上预约挂号服务，是让患者查询并获取门诊机会（即“挂号”）的一项服务。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				二、叮咚门诊网上预约挂号服务是国家政策积极推动下产生的服务。医生能够在第一执业地点之外开展多点执业，为患者提供合法的医疗服务。
			</ion-item>
		
			<ion-item class="item-text-wrap">
				三、申请网上挂号服务的患者需要按照要求填写预约申请（包括患者的基本资料、疾病资料等信息），且所有信息需要真实有效。
				患者的个人信息一旦填写，将无法随意删除和修改。叮咚门诊有责任保证患者的隐私信息保密不泄露。
			</ion-item>
		  
			<ion-item class="item-text-wrap">
				四、是否预约挂号成功，请以叮咚门诊的站内消息通知为准。叮咚门诊会发送预约成功短信、就诊凭证短信。
				其中只有就诊凭证短信能够作为领取挂号单的凭证。因短信通道故障导致的发送失败和延迟发送，叮咚门诊概不负责。
			</ion-item>
		   
			<ion-item class="item-text-wrap">
				五、为杜绝号贩子倒号，就诊时请务必带上申请挂号服务的手机、患者本人的有效证件（如身份证、护照、港澳通行证等），并出示凭证短信（转发无效）。
				由患者信息真实性问题导致的无法领取挂号单的情况，一切责任由患者自负，叮咚门诊概不负责。
			</ion-item> 
		
			<ion-item class="item-text-wrap">
				六、为保证医生多点执业出诊日程的安排，在您申请网上预约排队或挂号之前，请在叮咚门诊中存放一定数量的诚意金（诚意金数量与您预约挂号的医生、医院相关）。
				预约排队或挂号时，叮咚门诊会扣除您的部分诚意金。待您诊疗完成后，叮咚门诊将退还本次诊疗全部的诚意金。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				七、在医生号满的情况下，患者也可以缴纳诚意金进行排队预约。医生出诊日程确定之前，您可以取消预约，叮咚门诊会退还全部的诚意金。
				医生出诊日程确定之后，叮咚门诊会按照排队顺序和医生放号数量，通过短信通知患者预约挂号成功。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				八、成功获取网上预约挂号服务的患者有权利在就诊日期前一天16：00之前上网取消预约。取消预约挂号时叮咚门诊将扣除您50%的诚意金，并扣除10个叮咚积分。
				在未取消的情况下，如您未来就诊，则一律按照爽约处理。一旦您出现爽约情况，叮咚门诊有权扣除您全部诚意金，并扣除10个叮咚积分。
			</ion-item>
			
		    <ion-item class="item-text-wrap">  
				九、  叮咚门诊管理员和医生有权利根据患者的具体情况决定是否通过排队或通过预约挂号。在患者审核不通过的情况下，叮咚门诊将会退还全部诚意金。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				十、鉴于临床工作的特殊性，医生遇到抢救、急诊等特殊事件时，有可能延后甚至取消出诊。
				叮咚门诊将在获悉后第一时间通知您，并在获悉新出诊日期后即刻通知您就诊。如果患者因医生出诊变更取消排队或者预约，叮咚门诊将会退还全部诚意金。
				因突发情况（导致医生出诊变更）带来的以下问题或花费，叮咚门诊、医生、医院不予负责承担，其中包括：
				(1)交通、餐饮、住宿费用；(2)患者延误门诊导致的病情延误；(3)其它由于门诊延误导致的问题或引发的损失。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				十一、叮咚门诊提供的网上预约挂号服务是免费的服务。免费服务不包括医院的挂号费、检查费、治疗费以及您咨询相关服务的通话费、手机流量消费。
				患者的挂号费、诊疗费均在医生的多点执业医院缴纳，与叮咚门诊无关。
			</ion-item>
			
		    <ion-item class="item-text-wrap">
				十二、如出现各种医患纠纷或者医疗事故，患者均应与医院和医生协调处理，与叮咚门诊无任何关系。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				十三、叮咚门诊允许您每周进行一次提现。叮咚门诊仅支持提现至银行卡，且每次允许的提现金额为10~1000元人民币。
			</ion-item>
			
			<ion-item class="item-text-wrap">
				十四、提现申请提交后，叮咚门诊会尽快完成审核，并在审核通过后尽快将提现金额转入您提供的银行卡中，整个过程会在3~5个工作日内完成。
				如您提供的银行卡信息有误，叮咚门诊会将提现金额转回至您的叮咚账户中。如仍需提现，请在信息确认无误后，再次提交申请。	
			</ion-item>
			
			<ion-item class="item-text-wrap">
				十五、如您对以上原则存在异议，请通过叮咚门诊客服联系我们，或者选择不使用叮咚门诊。以上所有原则的最终解释权归叮咚门诊所有。感谢您的关注和使用。
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>

