<ion-view view-title="叮咚医邦">
    <ion-header-bar class="bar bar-calm" align-title="center">
        <a href="#/userTransfer/1"  class="button button-clear ion ion-chevron-left" >返回</a>
        <!--<a href="#/navigation"  class="button button-clear ion ion-chevron-left" >返回</a>-->
        <h1 class="title">积分说明</h1>
    </ion-header-bar>
    <ion-content class="row-no-padding">

        <div class="">
            <ion-list>

                <label class="item item-text-wrap">
                  1）什么是叮咚？<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;叮咚是叮咚医邦在线给予广大用户的虚拟货币的奖励，可以用于支付，直抵现金。
                </label>
                <label class="item item-text-wrap">
                  2）叮咚折抵现金比例是多少？<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp; 叮咚折抵现金比例是100:1，100叮咚相当于1元人民币。

                </label>

            </ion-list>
        </div>
        <div align="center" class="item item-text-wrap">
            如有疑问，请联系：
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">客服电话：</span>
                <p type="tel">400-400-400</p>
            </label>
            <label class="item item-input">
                <span class="input-label">客服微信：</span>
                <p>dingdongyiliao</p>
            </label>
            <label class="item item-input">
                <span class="input-label">客服&nbsp;&nbsp;QQ：</span>
                <p>666666</p>
            </label>
        </div>
    </ion-content>
</ion-view>

